* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-image: linear-gradient(90deg, #D5E5F2 0%, #96B9D9 35%, #4586BF 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

main > h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(246, 238, 238, 0.409);
    padding: 10px;
    font-size: 1.6em;
}

form {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

form#form-selected {
    width:450px;
}

form#input-value {
    width: 450px;
}

fieldset {
    padding: 10px;
}

input#c-f, input#f-c, input#c-k, input#k-c, input#f-k, input#k-f {
    margin: 5px 0;
    cursor: pointer;
}

input[type="number"] {
    padding: 2px;
    width: 70%;
}

fieldset > p {
    padding: 10px;
    width: 177px;
    text-align: center;
}

label {
    padding: 5px;
}

input.btn {
    padding: 3px 8px;
    background-color: rgba(117, 193, 190, 0.274);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

input.btn:hover {
    background-color: #0e0e0e;
    color: #fff;
}

#response {
    display: flex;
    visibility: hidden;
}

#response.active{
    display: block;
    background-color: #fff;
    padding: 10px;
    visibility: visible;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 6px;
    transition: all .4s;
}

@media (max-width: 600px) {
    main > h1 {
        padding: 5px;
        font-size: 1.1em;
    }

    form#form-selected {
        width:300px;
    }
    
    form#input-value {
        width: 300px;
    }

    input[type="number"] {
        padding: 2px;
        width: 55%;
    }
}